In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("preprocessed_housing_data.csv")

In [16]:
dataset.isnull().sum()

AREA             0
INT_SQFT         0
DIST_MAINROAD    0
N_BEDROOM        0
N_BATHROOM       0
N_ROOM           0
SALE_COND        0
PARK_FACIL       0
BUILDTYPE        0
UTILITY_AVAIL    0
STREET           0
MZZONE           0
QS_ROOMS         0
QS_BATHROOM      0
QS_BEDROOM       0
QS_OVERALL       0
REG_FEE          0
COMMIS           0
SALES_PRICE      0
dtype: int64

In [3]:
dataset.head()

,AREA,INT_SQFT,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,BUILDTYPE,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
0,Karapakkam,1004,131,1,1,3,AbNormal,Yes,Commercial,All Pub,Paved,A,4,3,4,4,380000,144400,7600000
1,Anna Nagar,1986,26,2,1,5,AbNormal,No,Commercial,All Pub,Gravel,RH,4,4,2,3,760122,304049,21717770
2,Adyar,909,70,1,1,3,AbNormal,Yes,Commercial,ELO,Gravel,RL,4,3,2,3,421094,92114,13159200
3,Velachery,1855,14,3,2,5,Family,No,Others,NoSewage,Paved,I,4,3,3,4,356321,77042,9630290
4,Karapakkam,1226,84,1,1,3,AbNormal,Yes,Others,All Pub,Gravel,C,3,2,4,3,237000,74063,7406250

In [4]:
dataset['PARK_FACIL'].value_counts()

Yes    3587
No     3522
Name: PARK_FACIL, dtype: int64

In [5]:
from scipy.stats import ttest_ind
from scipy.stats import ttest_rel

independent Sample Unpaired T test finding the similarity in parking and without parking sale price different groups 
[parking , without parking] condition [sale price]

In [6]:
with_parking = dataset[dataset['PARK_FACIL'] == 'Yes']['SALES_PRICE']
without_parking = dataset[dataset['PARK_FACIL'] == 'No']['SALES_PRICE']
ttest_ind(with_parking,without_parking)

TtestResult(statistic=12.478841131136644, pvalue=2.2822021889553744e-35, df=7107.0)

dependent sample Paired T test same group (AREA [Anna Nagar]) different condition [REG_FEE,SALES_PRICE]

In [7]:
area = dataset[dataset['AREA'] == 'Anna Nagar']['REG_FEE']
area1 = dataset[dataset['AREA'] == 'Anna Nagar']['SALES_PRICE']
ttest_rel(area,area1)

TtestResult(statistic=-119.94275702147705, pvalue=0.0, df=787)

finding the similarity between Commercial and House sales price different group BUILDTYPE [Commercial,House] 
condition [SALES_PRICE]

In [8]:
commercial = dataset[dataset['BUILDTYPE'] == 'Commercial']['SALES_PRICE']
house = dataset[dataset['BUILDTYPE'] == 'House']['SALES_PRICE']
ttest_ind(commercial,house)

TtestResult(statistic=49.47651147365866, pvalue=0.0, df=4771.0)

1. Which Area is having minimum sales price

In [13]:
mean = (dataset.groupby('AREA')['SALES_PRICE'].mean()).astype(int)
mean

AREA
Adyar          9185668
Anna Nagar    15168201
Chrompet      10013809
KK Nagar      12696228
Karapakkam     7340100
T Nagar       15616742
Velachery     11047353
Name: SALES_PRICE, dtype: int32

# Ans: karapakkam area is having minimum sales price

2. Test the Analysis of Variance between REG_FEE and COMMIS at signifance level 
5%. (Make decision using Hypothesis Testing)

Null hypothesis - there is no similarity between REG_FEE and COMMIS

In [14]:
import scipy.stats as stats

In [19]:
stats.f_oneway(dataset['REG_FEE'],dataset['COMMIS'])

F_onewayResult(statistic=14835.506034213242, pvalue=0.0)

# Answer:
# Reject null hypothesis if p < 0.05, here p is lesser
# 0.0 < 0.05
# So reject null hypothesis and accept alternate hypothesis
# There is similariy between REG_FEE and COMMIS

3. Which parameter is highly correlated with SALES_PRICE

In [20]:
dataset.corr(numeric_only = True)

,INT_SQFT,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
INT_SQFT,1.000000,0.002022,0.786263,0.515290,0.951279,0.016146,-0.011463,0.005847,0.006372,0.657544,0.571076,0.612125
DIST_MAINROAD,0.002022,1.000000,-0.002723,0.001850,0.002301,0.013050,-0.021857,0.002757,-0.015111,0.011600,0.010994,0.018783
N_BEDROOM,0.786263,-0.002723,1.000000,0.755207,0.840209,0.011434,-0.008603,0.014449,0.008698,0.455380,0.430446,0.330987
N_BATHROOM,0.515290,0.001850,0.755207,1.000000,0.568541,0.010452,-0.011005,0.013390,0.002825,0.260244,0.256726,0.108834
N_ROOM,0.951279,0.002301,0.840209,0.568541,1.000000,0.013468,-0.009066,0.012072,0.008519,0.630932,0.533343,0.602760
QS_ROOMS,0.016146,0.013050,0.011434,0.010452,0.013468,1.000000,0.001796,0.009590,0.431086,0.014614,0.007072,0.016059
QS_BATHROOM,-0.011463,-0.021857,-0.008603,-0.011005,-0.009066,0.001796,1.000000,-0.011917,0.447171,-0.014777,-0.008397,-0.019469
QS_BEDROOM,0.005847,0.002757,0.014449,0.013390,0.012072,0.009590,-0.011917,1.000000,0.530328,0.018875,0.019376,0.015044
QS_OVERALL,0.006372,-0.015111,0.008698,0.002825,0.008519,0.431086,0.447171,0.530328,1.000000,0.014398,0.005422,0.013509
REG_FEE,0.657544,0.011600,0.455380,0.260244,0.630932,0.014614,-0.014777,0.018875,0.014398,1.000000,0.659903,0.878148
COMMIS,0.571076,0.010994,0.430446,0.256726,0.533343,0.007072,-0.008397,0.019376,0.005422,0.659903,1.000000,0.626275
SALES_PRICE,0.612125,0.018783,0.330987,0.108834,0.602760,0.016059,-0.019469,0.015044,0.013509,0.878148,0.626275,1.000000

# Answer:
# REG_FEE is highly related with SALES_PRICE