In [1]:
import pandas as pd
import numpy as np
%load univariate.py

In [2]:
from univariate import *

In [3]:
dataset = pd.read_csv("preprocessed_housing_data.csv")

In [4]:
dataset.head()

,PRT_ID,AREA,INT_SQFT,DATE_SALE,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,...,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
0,P03210,Karapakkam,1004,2011-05-04,131,1,1,3,AbNormal,Yes,...,All Pub,Paved,A,4,3,4,4,380000,144400,7600000
1,P09411,Anna Nagar,1986,2006-12-19,26,2,1,5,AbNormal,No,...,All Pub,Gravel,RH,4,4,2,3,760122,304049,21717770
2,P01812,Adyar,909,2012-02-04,70,1,1,3,AbNormal,Yes,...,ELO,Gravel,RL,4,3,2,3,421094,92114,13159200
3,P05346,Velachery,1855,2010-03-13,14,3,2,5,Family,No,...,NoSewage,Paved,I,4,3,3,4,356321,77042,9630290
4,P06210,Karapakkam,1226,2009-10-05,84,1,1,3,AbNormal,Yes,...,All Pub,Gravel,C,3,2,4,3,237000,74063,7406250

In [5]:
quan = []
qual = []
for columnname in dataset.columns:
    if dataset[columnname].dtypes != 'object':
        #print(columnname)
        quan.append(columnname)
    else:
        qual.append(columnname)
print(quan)
print(qual)

['INT_SQFT', 'DIST_MAINROAD', 'N_BEDROOM', 'N_BATHROOM', 'N_ROOM', 'QS_ROOMS', 'QS_BATHROOM', 'QS_BEDROOM', 'QS_OVERALL', 'REG_FEE', 'COMMIS', 'SALES_PRICE']
['PRT_ID', 'AREA', 'DATE_SALE', 'SALE_COND', 'PARK_FACIL', 'DATE_BUILD', 'BUILDTYPE', 'UTILITY_AVAIL', 'STREET', 'MZZONE']

In [6]:
#Central tendency and IQR
Univariate.univariate(dataset,quan)

,INT_SQFT,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
Mean,1382.073006,99.603179,1.636939,1.21311,3.688704,3.075538,3.069349,3.056126,3.004642,376938.330708,141005.726544,10894909.63919
Median,1373.0,99.0,1.0,1.0,4.0,3.0,3.0,3.0,3.0,349486.0,127628.0,10335050.0
Mode,1781,39,1,1,4,3,4,3,3,235229,117825,4517000
Q1:25%,993.0,50.0,1.0,1.0,3.0,2.0,2.0,2.0,3.0,272406.0,84219.0,8272100.0
Q2:50%,1373.0,99.0,1.0,1.0,4.0,3.0,3.0,3.0,3.0,349486.0,127628.0,10335050.0
Q3:75%,1744.0,148.0,2.0,1.0,4.0,4.0,4.0,4.0,3.0,451562.0,184506.0,12993900.0
99%,2433.84,198.0,4.0,2.0,6.0,5.0,5.0,5.0,4.0,821626.12,378608.84,21743704.8
Q4:100%,2500.0,200.0,4.0,2.0,6.0,5.0,5.0,5.0,4.0,983922.0,495405.0,23667340.0
IQR,751.0,98.0,1.0,0.0,1.0,2.0,2.0,2.0,0.0,179156.0,100287.0,4721800.0
1.5rule,1126.5,147.0,1.5,0.0,1.5,3.0,3.0,3.0,0.0,268734.0,150430.5,7082700.0
Lesser,-133.5,-97.0,-0.5,1.0,1.5,-1.0,-1.0,-1.0,3.0,3672.0,-66211.5,1189400.0
Greater,2870.5,295.0,3.5,1.0,5.5,7.0,7.0,7.0,3.0,720296.0,334936.5,20076600.0
Min,500,0,1,1,2,2,2,2,2,71177,5055,2156875
Max,2500,200,4,2,6,5,5,5,4,983922,495405,23667340
Skew,0.131238,0.018144,1.162074,1.401451,0.118801,0.142693,0.140203,0.168114,-0.001986,1.037755,0.951656,0.773343
Kurtosis,-0.886379,-1.16524,0.735059,-0.035946,-0.530786,-1.109019,-1.142696,-1.110696,-0.257695,1.126499,1.073363,0.588129
Variance,209224.733696,3295.11699,0.644617,0.167718,1.038563,0.76202,0.767419,0.759511,0.364779,20469214327.963352,6204412588.024537,14202372016135.423828

In [12]:
#finding outlier
descriptive = Univariate.univariate(dataset,quan)

In [13]:
lesser = []
greater = []
for columnname in quan:
    if (descriptive[columnname]['Min'] < descriptive[columnname]['Lesser']):
        lesser.append(columnname)
    if (descriptive[columnname]['Max'] > descriptive[columnname]['Greater']):
        greater.append(columnname)

In [14]:
print(lesser)

[]

In [15]:
print(greater)

[]

In [11]:
#replace outlier
for columnname in lesser:
    dataset[columnname][dataset[columnname] < descriptive[columnname]['Lesser']] = descriptive[columnname]['Lesser']
for columnname in greater:
    dataset[columnname][dataset[columnname] > descriptive[columnname]['Greater']] = descriptive[columnname]['Greater']

<ipython-input-11-d04816870901>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[columnname][dataset[columnname] < descriptive[columnname]['Lesser']] = descriptive[columnname]['Lesser']
<ipython-input-11-d04816870901>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[columnname][dataset[columnname] > descriptive[columnname]['Greater']] = descriptive[columnname]['Greater']