In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('Chennai housing sale.csv')

In [3]:
dataset.head()

,PRT_ID,AREA,INT_SQFT,DATE_SALE,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,...,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
0,P03210,Karapakkam,1004,04-05-2011,131,1.0,1.0,3,AbNormal,Yes,...,AllPub,Paved,A,4.0,3.9,4.9,4.330,380000,144400,7600000
1,P09411,Anna Nagar,1986,19-12-2006,26,2.0,1.0,5,AbNormal,No,...,AllPub,Gravel,RH,4.9,4.2,2.5,3.765,760122,304049,21717770
2,P01812,Adyar,909,04-02-2012,70,1.0,1.0,3,AbNormal,Yes,...,ELO,Gravel,RL,4.1,3.8,2.2,3.090,421094,92114,13159200
3,P05346,Velachery,1855,13-03-2010,14,3.0,2.0,5,Family,No,...,NoSewr,Paved,I,4.7,3.9,3.6,4.010,356321,77042,9630290
4,P06210,Karapakkam,1226,05-10-2009,84,1.0,1.0,3,AbNormal,Yes,...,AllPub,Gravel,C,3.0,2.5,4.1,3.290,237000,74063,7406250

checking missing values

In [4]:
dataset.isnull().sum()

PRT_ID            0
AREA              0
INT_SQFT          0
DATE_SALE         0
DIST_MAINROAD     0
N_BEDROOM         1
N_BATHROOM        5
N_ROOM            0
SALE_COND         0
PARK_FACIL        0
DATE_BUILD        0
BUILDTYPE         0
UTILITY_AVAIL     0
STREET            0
MZZONE            0
QS_ROOMS          0
QS_BATHROOM       0
QS_BEDROOM        0
QS_OVERALL       48
REG_FEE           0
COMMIS            0
SALES_PRICE       0
dtype: int64

In [5]:
dataset[dataset['N_BEDROOM'].isnull()]

,PRT_ID,AREA,INT_SQFT,DATE_SALE,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,...,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
4060,P01066,Anna Nagar,1556,16-01-2013,181,NaN,1.0,4,Partiall,No,...,NoSewr,No Access,RM,4.8,2.7,2.0,3.155,313136,107978,10797790

Using interpolate method we can fill the missing values

In [6]:
raw_df = dataset.interpolate(method ='linear', limit_direction ='forward')

In [7]:
raw_df.isnull().sum()

PRT_ID           0
AREA             0
INT_SQFT         0
DATE_SALE        0
DIST_MAINROAD    0
N_BEDROOM        0
N_BATHROOM       0
N_ROOM           0
SALE_COND        0
PARK_FACIL       0
DATE_BUILD       0
BUILDTYPE        0
UTILITY_AVAIL    0
STREET           0
MZZONE           0
QS_ROOMS         0
QS_BATHROOM      0
QS_BEDROOM       0
QS_OVERALL       0
REG_FEE          0
COMMIS           0
SALES_PRICE      0
dtype: int64

In [8]:
#preprocessed_data.to_csv('preprocessed_housing_data.csv')

In [9]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7109 entries, 0 to 7108
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PRT_ID         7109 non-null   object
 1   AREA           7109 non-null   object
 2   INT_SQFT       7109 non-null   int64
 3   DATE_SALE      7109 non-null   object
 4   DIST_MAINROAD  7109 non-null   int64
 5   N_BEDROOM      7109 non-null   float64
 6   N_BATHROOM     7109 non-null   float64
 7   N_ROOM         7109 non-null   int64
 8   SALE_COND      7109 non-null   object
 9   PARK_FACIL     7109 non-null   object
 10  DATE_BUILD     7109 non-null   object
 11  BUILDTYPE      7109 non-null   object
 12  UTILITY_AVAIL  7109 non-null   object
 13  STREET         7109 non-null   object
 14  MZZONE         7109 non-null   object
 15  QS_ROOMS       7109 non-null   float64
 16  QS_BATHROOM    7109 non-null   float64
 17  QS_BEDROOM     7109 non-null   float64
 18  QS_OVERALL     7109 non-null   float64
 19  REG_FEE        7109 non-null   int64
 20  COMMIS         7109 non-null   int64
 21  SALES_PRICE    7109 non-null   int64
dtypes: float64(6), int64(6), object(10)
memory usage: 944.2+ KB

Converting the column datatype from float to integer

In [10]:
raw_df['N_BATHROOM'] = raw_df['N_BATHROOM'].astype(int)
raw_df['N_BATHROOM'] = raw_df['N_BATHROOM'].astype(int)
raw_df['N_BEDROOM'] = raw_df['N_BEDROOM'].astype(int)
raw_df['QS_BATHROOM'] = raw_df['QS_BATHROOM'].astype(int)
raw_df['QS_BEDROOM'] = raw_df['QS_BEDROOM'].astype(int)
raw_df['QS_OVERALL'] = raw_df['QS_OVERALL'].astype(int)
raw_df['QS_ROOMS'] = raw_df['QS_ROOMS'].astype(int)

In [11]:
qual = []
quan = []
for column in raw_df.columns:
    if raw_df[column].dtypes == 'object':
        qual.append(column)
    else:
        quan.append(column)

In [12]:
qual

['PRT_ID',
 'AREA',
 'DATE_SALE',
 'SALE_COND',
 'PARK_FACIL',
 'DATE_BUILD',
 'BUILDTYPE',
 'UTILITY_AVAIL',
 'STREET',
 'MZZONE']

In [13]:
for column in raw_df[qual].columns:
    print()
    print(column)
    print(raw_df[column].unique())

PRT_ID
['P03210' 'P09411' 'P01812' ... 'P09594' 'P06508' 'P09794']

AREA
['Karapakkam' 'Anna Nagar' 'Adyar' 'Velachery' 'Chrompet' 'KK Nagar'
 'TNagar' 'T Nagar' 'Chrompt' 'Chrmpet' 'Karapakam' 'Ana Nagar' 'Chormpet'
 'Adyr' 'Velchery' 'Ann Nagar' 'KKNagar']

DATE_SALE
['04-05-2011' '19-12-2006' '04-02-2012' ... '28-03-2014' '25-08-2006'
 '13-07-2005']

SALE_COND
['AbNormal' 'Family' 'Partial' 'AdjLand' 'Normal Sale' 'Ab Normal'
 'Partiall' 'Adj Land' 'PartiaLl']

PARK_FACIL
['Yes' 'No' 'Noo']

DATE_BUILD
['15-05-1967' '22-12-1995' '09-02-1992' ... '01-09-1978' '11-08-1977'
 '24-07-1961']

BUILDTYPE
['Commercial' 'Others' 'Other' 'House' 'Comercial']

UTILITY_AVAIL
['AllPub' 'ELO' 'NoSewr ' 'NoSeWa' 'All Pub']

STREET
['Paved' 'Gravel' 'No Access' 'Pavd' 'NoAccess']

MZZONE
['A' 'RH' 'RL' 'I' 'C' 'RM']

Replacing the AREA values to proper values

In [14]:
raw_df['AREA'].replace(to_replace='Adyr' ,value='Adyar', inplace=True)
raw_df['AREA'].replace(to_replace='TNagar',value = 'T Nagar',inplace=True)
raw_df['AREA'].replace(to_replace=['Ann Nagar','Ana Nagar'],value = 'Anna Nagar',inplace=True)
raw_df['AREA'].replace(to_replace='Velchery',value = 'Velachery',inplace=True)
raw_df['AREA'].replace(to_replace='Karapakam',value = 'Karapakkam',inplace=True)
raw_df['AREA'].replace(to_replace=['Chrompt','Chrmpet','Chormpet'],value = 'Chrompet',inplace=True)
raw_df['AREA'].replace(to_replace='KKNagar',value = 'KK Nagar',inplace=True)

In [15]:
print(raw_df['AREA'].unique())

['Karapakkam' 'Anna Nagar' 'Adyar' 'Velachery' 'Chrompet' 'KK Nagar'
 'T Nagar']

Replacing SALE_COND values to proper values

In [16]:
raw_df['SALE_COND'].replace(to_replace='Ab Normal' ,value='AbNormal', inplace=True)
raw_df['SALE_COND'].replace(to_replace=['PartiaLl','Partiall'] ,value='Partial', inplace=True)
raw_df['SALE_COND'].replace(to_replace='Adj Land',value='AdjLand', inplace=True)

In [17]:
print(raw_df['SALE_COND'].unique())

['AbNormal' 'Family' 'Partial' 'AdjLand' 'Normal Sale']

Replacing PARK_FACIL values to proper values

In [18]:
raw_df['PARK_FACIL'].replace(to_replace='Noo' ,value='No', inplace=True)

In [19]:
print(raw_df['PARK_FACIL'].unique())

['Yes' 'No']

Replacing BUILDTYPE column values to proper values

In [20]:
raw_df['BUILDTYPE'].replace(to_replace='Comercial' ,value='Commercial', inplace=True)
raw_df['BUILDTYPE'].replace(to_replace='Other' ,value='Others', inplace=True)

In [21]:
print(raw_df['BUILDTYPE'].unique())

['Commercial' 'Others' 'House']

Replacing UTILITY_AVAIL column values to proper values

In [22]:
raw_df['UTILITY_AVAIL'].replace(to_replace='AllPub' ,value='All Pub', inplace=True)
raw_df['UTILITY_AVAIL'].replace(to_replace=['NoSewr ','NoSeWa'],value='NoSewage',inplace=True)

In [23]:
print(raw_df['UTILITY_AVAIL'].unique())

['All Pub' 'ELO' 'NoSewage']

Replacing STREET column values to proper values

In [24]:
raw_df['STREET'].replace(to_replace='Pavd' ,value='Paved', inplace=True)
raw_df['STREET'].replace(to_replace='NoAccess' ,value='No Access', inplace=True)

In [25]:
print(raw_df['STREET'].unique())

['Paved' 'Gravel' 'No Access']

In [26]:
## The two date columns - DATE_SALE & DATE_BUILD are in object format
## convert them into DateTime dtype
raw_df['DATE_SALE'] = pd.to_datetime(raw_df['DATE_SALE'], format='%d-%m-%Y')
raw_df['DATE_BUILD'] = pd.to_datetime(raw_df['DATE_BUILD'], format='%d-%m-%Y')

In [27]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7109 entries, 0 to 7108
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PRT_ID         7109 non-null   object
 1   AREA           7109 non-null   object
 2   INT_SQFT       7109 non-null   int64
 3   DATE_SALE      7109 non-null   datetime64[ns]
 4   DIST_MAINROAD  7109 non-null   int64
 5   N_BEDROOM      7109 non-null   int32
 6   N_BATHROOM     7109 non-null   int32
 7   N_ROOM         7109 non-null   int64
 8   SALE_COND      7109 non-null   object
 9   PARK_FACIL     7109 non-null   object
 10  DATE_BUILD     7109 non-null   datetime64[ns]
 11  BUILDTYPE      7109 non-null   object
 12  UTILITY_AVAIL  7109 non-null   object
 13  STREET         7109 non-null   object
 14  MZZONE         7109 non-null   object
 15  QS_ROOMS       7109 non-null   int32
 16  QS_BATHROOM    7109 non-null   int32
 17  QS_BEDROOM     7109 non-null   int32
 18  QS_OVERALL     7109 non-null   int32
 19  REG_FEE        7109 non-null   int64
 20  COMMIS         7109 non-null   int64
 21  SALES_PRICE    7109 non-null   int64
dtypes: datetime64[ns](2), int32(6), int64(6), object(8)
memory usage: 833.2+ KB

In [ ]:
raw_df = raw_df.drop(['PRT_ID','DATE_SALE','DATE_BUILD'] ,axis=1)

In [32]:
raw_df.to_csv('preprocessed_housing_data.csv',index=False)

In [33]:
raw_df.head()

,AREA,INT_SQFT,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,BUILDTYPE,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
0,Karapakkam,1004,131,1,1,3,AbNormal,Yes,Commercial,All Pub,Paved,A,4,3,4,4,380000,144400,7600000
1,Anna Nagar,1986,26,2,1,5,AbNormal,No,Commercial,All Pub,Gravel,RH,4,4,2,3,760122,304049,21717770
2,Adyar,909,70,1,1,3,AbNormal,Yes,Commercial,ELO,Gravel,RL,4,3,2,3,421094,92114,13159200
3,Velachery,1855,14,3,2,5,Family,No,Others,NoSewage,Paved,I,4,3,3,4,356321,77042,9630290
4,Karapakkam,1226,84,1,1,3,AbNormal,Yes,Others,All Pub,Gravel,C,3,2,4,3,237000,74063,7406250