In [1]:
import pandas as pd
dataset = pd.read_csv('preprocessed_housing_data.csv')

In [3]:
dataset.head()

,AREA,INT_SQFT,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,BUILDTYPE,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
0,Karapakkam,1004,131,1,1,3,AbNormal,Yes,Commercial,All Pub,Paved,A,4,3,4,4,380000,144400,7600000
1,Anna Nagar,1986,26,2,1,5,AbNormal,No,Commercial,All Pub,Gravel,RH,4,4,2,3,760122,304049,21717770
2,Adyar,909,70,1,1,3,AbNormal,Yes,Commercial,ELO,Gravel,RL,4,3,2,3,421094,92114,13159200
3,Velachery,1855,14,3,2,5,Family,No,Others,NoSewage,Paved,I,4,3,3,4,356321,77042,9630290
4,Karapakkam,1226,84,1,1,3,AbNormal,Yes,Others,All Pub,Gravel,C,3,2,4,3,237000,74063,7406250

In [4]:
dataset.columns

Index(['AREA', 'INT_SQFT', 'DIST_MAINROAD', 'N_BEDROOM', 'N_BATHROOM',
       'N_ROOM', 'SALE_COND', 'PARK_FACIL', 'BUILDTYPE', 'UTILITY_AVAIL',
       'STREET', 'MZZONE', 'QS_ROOMS', 'QS_BATHROOM', 'QS_BEDROOM',
       'QS_OVERALL', 'REG_FEE', 'COMMIS', 'SALES_PRICE'],
      dtype='object')

In [5]:
dataset = pd.get_dummies(dataset)

In [6]:
dataset.head()

,INT_SQFT,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,...,UTILITY_AVAIL_NoSewage,STREET_Gravel,STREET_No Access,STREET_Paved,MZZONE_A,MZZONE_C,MZZONE_I,MZZONE_RH,MZZONE_RL,MZZONE_RM
0,1004,131,1,1,3,4,3,4,4,380000,...,0,0,0,1,1,0,0,0,0,0
1,1986,26,2,1,5,4,4,2,3,760122,...,0,1,0,0,0,0,0,1,0,0
2,909,70,1,1,3,4,3,2,3,421094,...,0,1,0,0,0,0,0,0,1,0
3,1855,14,3,2,5,4,3,3,4,356321,...,1,0,0,1,0,0,1,0,0,0
4,1226,84,1,1,3,3,2,4,3,237000,...,0,1,0,0,0,1,0,0,0,0

In [7]:
dataset.columns

Index(['INT_SQFT', 'DIST_MAINROAD', 'N_BEDROOM', 'N_BATHROOM', 'N_ROOM',
       'QS_ROOMS', 'QS_BATHROOM', 'QS_BEDROOM', 'QS_OVERALL', 'REG_FEE',
       'COMMIS', 'SALES_PRICE', 'AREA_Adyar', 'AREA_Anna Nagar',
       'AREA_Chrompet', 'AREA_KK Nagar', 'AREA_Karapakkam', 'AREA_T Nagar',
       'AREA_Velachery', 'SALE_COND_AbNormal', 'SALE_COND_AdjLand',
       'SALE_COND_Family', 'SALE_COND_Normal Sale', 'SALE_COND_Partial',
       'PARK_FACIL_No', 'PARK_FACIL_Yes', 'BUILDTYPE_Commercial',
       'BUILDTYPE_House', 'BUILDTYPE_Others', 'UTILITY_AVAIL_All Pub',
       'UTILITY_AVAIL_ELO', 'UTILITY_AVAIL_NoSewage', 'STREET_Gravel',
       'STREET_No Access', 'STREET_Paved', 'MZZONE_A', 'MZZONE_C', 'MZZONE_I',
       'MZZONE_RH', 'MZZONE_RL', 'MZZONE_RM'],
      dtype='object')

In [8]:
indep_X = dataset[['INT_SQFT', 'DIST_MAINROAD', 'N_BEDROOM', 'N_BATHROOM', 'N_ROOM',
       'QS_ROOMS', 'QS_BATHROOM', 'QS_BEDROOM', 'QS_OVERALL', 'REG_FEE',
       'COMMIS', 'AREA_Adyar', 'AREA_Anna Nagar',
       'AREA_Chrompet', 'AREA_KK Nagar', 'AREA_Karapakkam', 'AREA_T Nagar',
       'AREA_Velachery', 'SALE_COND_AbNormal', 'SALE_COND_AdjLand',
       'SALE_COND_Family', 'SALE_COND_Normal Sale', 'SALE_COND_Partial',
       'PARK_FACIL_No', 'PARK_FACIL_Yes', 'BUILDTYPE_Commercial',
       'BUILDTYPE_House', 'BUILDTYPE_Others', 'UTILITY_AVAIL_All Pub',
       'UTILITY_AVAIL_ELO', 'UTILITY_AVAIL_NoSewage', 'STREET_Gravel',
       'STREET_No Access', 'STREET_Paved', 'MZZONE_A', 'MZZONE_C', 'MZZONE_I',
       'MZZONE_RH', 'MZZONE_RL', 'MZZONE_RM']]
dep_Y = dataset['SALES_PRICE']

In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split 
import time
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
import pickle
import matplotlib.pyplot as plt

In [10]:
def r2_prediction(regressor,X_test,y_test):
    y_pred = regressor.predict(X_test)
    from sklearn.metrics import r2_score
    r2=r2_score(y_test,y_pred)
    return r2

In [45]:
def split_scalar(indep_X,dep_Y):
    X_train, X_test, y_train, y_test = train_test_split(indep_X, dep_Y, test_size = 0.25, random_state = 0)
    #X_train, X_test, y_train, y_test = train_test_split(indep_X,dep_Y, test_size = 0.25, random_state = 0)
    
    #Feature Scaling
    #from sklearn.preprocessing import StandardScaler
    sc = StandardScaler()
    X_train = sc.fit_transform(X_train)
    X_test = sc.transform(X_test)    
    return X_train, X_test, y_train, y_test
    

 
def Linear(X_train,y_train,X_test):       
    # Fitting K-NN to the Training set
    from sklearn.linear_model import LinearRegression
    regressor = LinearRegression()
    regressor.fit(X_train, y_train)
    r2=r2_prediction(regressor,X_test,y_test)
    return  r2   
    
def svm_linear(X_train,y_train,X_test):
                
    from sklearn.svm import SVR
    regressor = SVR(kernel = 'linear')
    regressor.fit(X_train, y_train)
    r2=r2_prediction(regressor,X_test,y_test)
    return  r2  
    
def svm_NL(X_train,y_train,X_test):
            
    from sklearn.svm import SVR
    regressor = SVR(kernel = 'rbf')
    regressor.fit(X_train, y_train)
    r2=r2_prediction(regressor,X_test,y_test)
    return  r2  
     

def Decision(X_train,y_train,X_test):
        
    # Fitting K-NN to the Training setC
    from sklearn.tree import DecisionTreeRegressor
    regressor = DecisionTreeRegressor(random_state = 0)
    regressor.fit(X_train, y_train)
    r2=r2_prediction(regressor,X_test,y_test)
    return  r2  
     

def random(X_train,y_train,X_test):       
    # Fitting K-NN to the Training set
    from sklearn.ensemble import RandomForestRegressor
    regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
    regressor.fit(X_train, y_train)
    r2=r2_prediction(regressor,X_test,y_test)
    return  r2 
    
def rfeFeature(indep_X,dep_Y,n):
    rfelist=[]
        
    from sklearn.linear_model import LinearRegression
    lin = LinearRegression()
    
    from sklearn.svm import SVR
    SVRl = SVR(kernel = 'linear')
    
    from sklearn.svm import SVR
    #SVRnl = SVR(kernel = 'rbf')
    
    from sklearn.tree import DecisionTreeRegressor
    dec = DecisionTreeRegressor(random_state = 0)
    
    from sklearn.ensemble import RandomForestRegressor
    rf = RandomForestRegressor(n_estimators = 10, random_state = 0)
    
    
    rfemodellist=[lin,dec,rf]#lin,SVRl,dec,rf] 
    for i in rfemodellist:
        print(i)
        log_rfe = RFE(estimator=i, n_features_to_select=n)
        log_fit = log_rfe.fit(indep_X, dep_Y)
        log_rfe_feature=log_fit.transform(indep_X)
        rfelist.append(log_rfe_feature)
    return rfelist
    
# def rfe_regression(acclog,accsvml,accdes,accrf): 
    
#     rfedataframe=pd.DataFrame(index=['Linear','SVC','Random','DecisionTree'],columns=['Linear','SVMl',
#                                                                                         'Decision','Random'])
    
#     for number,idex in enumerate(rfedataframe.index):
        
#         rfedataframe['Linear'][idex]=acclog[number]       
#         rfedataframe['SVMl'][idex]=accsvml[number]
#         rfedataframe['Decision'][idex]=accdes[number]
#         rfedataframe['Random'][idex]=accrf[number]
#     return rfedataframe

In [46]:
# estimator = SVR(kernel="linear")
# selector = RFE(estimator, n_features_to_select=5, step=1)

In [67]:
rfelist=rfeFeature(indep_X,dep_Y,6)

LinearRegression()
DecisionTreeRegressor(random_state=0)
RandomForestRegressor(n_estimators=10, random_state=0)

In [68]:
def rfe_regression(acclog,accdes,accrf): 
    
    rfedataframe=pd.DataFrame(index=['Linear','DecisionTree','Random'],columns=['Linear','Decision','Random'])
    
    for number,idex in enumerate(rfedataframe.index):
        
        rfedataframe['Linear'][idex]=acclog[number]       
        # rfedataframe['SVMl'][idex]=accsvml[number]
        rfedataframe['Decision'][idex]=accdes[number]
        rfedataframe['Random'][idex]=accrf[number]
    return rfedataframe

In [69]:
result=rfe_regression(acclin,accdes,accrf)

In [57]:
# n = 3
result

                Linear  Decision    Random
Linear        0.182217  0.182217  0.181816
DecisionTree  0.808107  0.681117   0.78625
Random        0.808107  0.681117   0.78625

In [62]:
# n=4 
result

                Linear  Decision    Random
Linear        0.185367  0.185367  0.185037
DecisionTree  0.847768  0.774623  0.848473
Random        0.847768  0.774623  0.848473

In [66]:
# n= 5
result

                Linear  Decision    Random
Linear        0.185367  0.185367  0.185037
DecisionTree  0.847768  0.774623  0.848473
Random        0.847768  0.774623  0.848473

In [70]:
#n=6
result

                Linear  Decision    Random
Linear        0.185367  0.185367  0.185037
DecisionTree  0.847768  0.774623  0.848473
Random        0.847768  0.774623  0.848473