In [1]:
import pandas as pd
dataset = pd.read_csv('preprocessed_housing_data.csv')

In [3]:
dataset.head()

,AREA,INT_SQFT,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,BUILDTYPE,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
0,Karapakkam,1004,131,1,1,3,AbNormal,Yes,Commercial,All Pub,Paved,A,4,3,4,4,380000,144400,7600000
1,Anna Nagar,1986,26,2,1,5,AbNormal,No,Commercial,All Pub,Gravel,RH,4,4,2,3,760122,304049,21717770
2,Adyar,909,70,1,1,3,AbNormal,Yes,Commercial,ELO,Gravel,RL,4,3,2,3,421094,92114,13159200
3,Velachery,1855,14,3,2,5,Family,No,Others,NoSewage,Paved,I,4,3,3,4,356321,77042,9630290
4,Karapakkam,1226,84,1,1,3,AbNormal,Yes,Others,All Pub,Gravel,C,3,2,4,3,237000,74063,7406250

In [4]:
dataset.columns

Index(['AREA', 'INT_SQFT', 'DIST_MAINROAD', 'N_BEDROOM', 'N_BATHROOM',
       'N_ROOM', 'SALE_COND', 'PARK_FACIL', 'BUILDTYPE', 'UTILITY_AVAIL',
       'STREET', 'MZZONE', 'QS_ROOMS', 'QS_BATHROOM', 'QS_BEDROOM',
       'QS_OVERALL', 'REG_FEE', 'COMMIS', 'SALES_PRICE'],
      dtype='object')

In [5]:
for col in dataset.columns:
    if dataset[col].dtypes == 'object':
        print(col)

AREA
SALE_COND
PARK_FACIL
BUILDTYPE
UTILITY_AVAIL
STREET
MZZONE

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7109 entries, 0 to 7108
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AREA           7109 non-null   object
 1   INT_SQFT       7109 non-null   int64
 2   DIST_MAINROAD  7109 non-null   int64
 3   N_BEDROOM      7109 non-null   int64
 4   N_BATHROOM     7109 non-null   int64
 5   N_ROOM         7109 non-null   int64
 6   SALE_COND      7109 non-null   object
 7   PARK_FACIL     7109 non-null   object
 8   BUILDTYPE      7109 non-null   object
 9   UTILITY_AVAIL  7109 non-null   object
 10  STREET         7109 non-null   object
 11  MZZONE         7109 non-null   object
 12  QS_ROOMS       7109 non-null   int64
 13  QS_BATHROOM    7109 non-null   int64
 14  QS_BEDROOM     7109 non-null   int64
 15  QS_OVERALL     7109 non-null   int64
 16  REG_FEE        7109 non-null   int64
 17  COMMIS         7109 non-null   int64
 18  SALES_PRICE    7109 non-null   int64
dtypes: int64(12), object(7)
memory usage: 860.9+ KB

In [7]:
dataset = pd.get_dummies(dataset)

In [8]:
dataset.head()

,INT_SQFT,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,...,UTILITY_AVAIL_NoSewage,STREET_Gravel,STREET_No Access,STREET_Paved,MZZONE_A,MZZONE_C,MZZONE_I,MZZONE_RH,MZZONE_RL,MZZONE_RM
0,1004,131,1,1,3,4,3,4,4,380000,...,0,0,0,1,1,0,0,0,0,0
1,1986,26,2,1,5,4,4,2,3,760122,...,0,1,0,0,0,0,0,1,0,0
2,909,70,1,1,3,4,3,2,3,421094,...,0,1,0,0,0,0,0,0,1,0
3,1855,14,3,2,5,4,3,3,4,356321,...,1,0,0,1,0,0,1,0,0,0
4,1226,84,1,1,3,3,2,4,3,237000,...,0,1,0,0,0,1,0,0,0,0

In [9]:
dataset.columns

Index(['INT_SQFT', 'DIST_MAINROAD', 'N_BEDROOM', 'N_BATHROOM', 'N_ROOM',
       'QS_ROOMS', 'QS_BATHROOM', 'QS_BEDROOM', 'QS_OVERALL', 'REG_FEE',
       'COMMIS', 'SALES_PRICE', 'AREA_Adyar', 'AREA_Anna Nagar',
       'AREA_Chrompet', 'AREA_KK Nagar', 'AREA_Karapakkam', 'AREA_T Nagar',
       'AREA_Velachery', 'SALE_COND_AbNormal', 'SALE_COND_AdjLand',
       'SALE_COND_Family', 'SALE_COND_Normal Sale', 'SALE_COND_Partial',
       'PARK_FACIL_No', 'PARK_FACIL_Yes', 'BUILDTYPE_Commercial',
       'BUILDTYPE_House', 'BUILDTYPE_Others', 'UTILITY_AVAIL_All Pub',
       'UTILITY_AVAIL_ELO', 'UTILITY_AVAIL_NoSewage', 'STREET_Gravel',
       'STREET_No Access', 'STREET_Paved', 'MZZONE_A', 'MZZONE_C', 'MZZONE_I',
       'MZZONE_RH', 'MZZONE_RL', 'MZZONE_RM'],
      dtype='object')

In [10]:
independent = dataset[['INT_SQFT', 'DIST_MAINROAD', 'N_BEDROOM', 'N_BATHROOM', 'N_ROOM',
       'QS_ROOMS', 'QS_BATHROOM', 'QS_BEDROOM', 'QS_OVERALL', 'REG_FEE',
       'COMMIS', 'AREA_Adyar', 'AREA_Anna Nagar',
       'AREA_Chrompet', 'AREA_KK Nagar', 'AREA_Karapakkam', 'AREA_T Nagar',
       'AREA_Velachery', 'SALE_COND_AbNormal', 'SALE_COND_AdjLand',
       'SALE_COND_Family', 'SALE_COND_Normal Sale', 'SALE_COND_Partial',
       'PARK_FACIL_No', 'PARK_FACIL_Yes', 'BUILDTYPE_Commercial',
       'BUILDTYPE_House', 'BUILDTYPE_Others', 'UTILITY_AVAIL_All Pub',
       'UTILITY_AVAIL_ELO', 'UTILITY_AVAIL_NoSewage', 'STREET_Gravel',
       'STREET_No Access', 'STREET_Paved', 'MZZONE_A', 'MZZONE_C', 'MZZONE_I',
       'MZZONE_RH', 'MZZONE_RL', 'MZZONE_RM']]
dependent = dataset['SALES_PRICE']

In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split 
import time
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
import pickle
import matplotlib.pyplot as plt

In [12]:
def r2_prediction(regressor,X_test,y_test):
    y_pred = regressor.predict(X_test)
    from sklearn.metrics import r2_score
    r2=r2_score(y_test,y_pred)
    return r2

In [13]:
from sklearn.metrics import r2_score

In [14]:
def selectkbest(independent,dependent,n):
    test = SelectKBest(score_func=chi2, k=n)
    fit1= test.fit(independent,dependent)
    # summarize scores       
    selectk_features = fit1.transform(independent)
    return selectk_features
    
def split_scalar(independent,dependent):
    X_train, X_test, y_train, y_test = train_test_split(independent,dependent, test_size = 0.25, random_state = 0)
    sc = StandardScaler()
    X_train = sc.fit_transform(X_train)
    X_test = sc.transform(X_test)    
    return X_train, X_test, y_train, y_test
    

 
def Linear(X_train,y_train,X_test):       
    # Fitting K-NN to the Training set
    from sklearn.linear_model import LinearRegression
    regressor = LinearRegression()
    regressor = regressor.fit(X_train, y_train)
    y_pred = regressor.predict(X_test)
    r2 = r2_score(y_test,y_pred)
    return  r2   
    
def svm_linear(X_train,y_train,X_test):
                
    from sklearn.svm import SVR
    regressor = SVR(kernel = 'linear',C= 10)
    regressor = regressor.fit(X_train, y_train)
    y_pred = regressor.predict(X_test)
    r2 = r2_score(y_test,y_pred)
    return  r2  
    
def svm_NL(X_train,y_train,X_test):
                
    from sklearn.svm import SVR
    regressor = SVR(kernel = 'rbf',C= 10)
    regressor = regressor.fit(X_train, y_train)
    y_pred = regressor.predict(X_test)
    r2 = r2_score(y_test,y_pred)
    return  r2  
     

def Decision(X_train,y_train,X_test):
        
    # Fitting K-NN to the Training setC
    from sklearn.tree import DecisionTreeRegressor
    regressor = DecisionTreeRegressor(criterion='poisson', splitter='random',max_features= None)
    regressor = regressor.fit(X_train, y_train)
    y_pred = regressor.predict(X_test)
    r2 = r2_score(y_test,y_pred)
    return  r2  
     

def random(X_train,y_train,X_test):       
    # Fitting K-NN to the Training set
    from sklearn.ensemble import RandomForestRegressor
    regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
    regressor = regressor.fit(X_train, y_train)
    y_pred = regressor.predict(X_test)
    r2 = r2_score(y_test,y_pred)
    return  r2 
    
    
# def selectk_regression(acclin,accsvml,accsvmnl,accdes,accrf): 
    
#     dataframe=pd.DataFrame(index=['ChiSquare'],columns=['Linear','SVMl','SVMnl','Decision','Random'])
    
#     for number,index in enumerate(dataframe.index):
        
#         dataframe['Linear'][index]=acclin[number]       
#         dataframe['SVMl'][index]=accsvml[number]
#         dataframe['SVMnl'][index]=accsvmnl[number]
#         dataframe['Decision'][index]=accdes[number]
#         dataframe['Random'][index]=accrf[number]
#     return dataframe

In [15]:
kbest=selectkbest(independent,dependent,5)

In [16]:
kbest

array([[  1004,    131, 380000, 144400,      0],
       [  1986,     26, 760122, 304049,      0],
       [   909,     70, 421094,  92114,      0],
       ...,
       [  1614,    152, 317354, 167028,      0],
       [   787,     40, 425350, 119098,      0],
       [  1896,    156, 349177,  79812,      0]], dtype=int64)

important features

In [36]:
select = SelectKBest(score_func=chi2, k=5)
z= select.fit(independent,dependent)
filter = select.get_support(5)
X_new = independent[independent.columns[filter]]
X_new.columns

Index(['INT_SQFT', 'DIST_MAINROAD', 'REG_FEE', 'COMMIS', 'AREA_T Nagar'], dtype='object')

In [ ]:
4 important features - Index(['INT_SQFT', 'DIST_MAINROAD', 'REG_FEE', 'COMMIS'], dtype='object')
5 important features - Index(['INT_SQFT', 'DIST_MAINROAD', 'REG_FEE', 'COMMIS', 'AREA_T Nagar'], dtype='object')

In [16]:
acclin=[]
accsvml=[]
accsvmnl=[]
accdes=[]
accrf=[]

In [17]:
X_train, X_test, y_train, y_test=split_scalar(kbest,dependent)

In [ ]:
 
# for i in kbest:   
#     r2_lin=Linear(X_train,y_train,X_test)
#     acclin.append(r2_lin)
    
#     r2_sl=svm_linear(X_train,y_train,X_test)    
#     accsvml.append(r2_sl)
    
#     r2_NL=svm_NL(X_train,y_train,X_test)
#     accsvmnl.append(r2_NL)
    
#     r2_d=Decision(X_train,y_train,X_test)
#     accdes.append(r2_d)
    
#     r2_r=random(X_train,y_train,X_test)
#     accrf.append(r2_r)

In [18]:
def Linear(X_train,y_train,X_test):       
    # Fitting K-NN to the Training set
    from sklearn.linear_model import LinearRegression
    regressor = LinearRegression()
    regressor.fit(X_train, y_train)
    r2=r2_prediction(regressor,X_test,y_test)
    return  r2

In [19]:
acclin = []

  
for i in kbest:   
    r2_lin=Linear(X_train,y_train,X_test)
    acclin.append(r2_lin)

In [20]:
# def svm_linear(X_train,y_train,X_test):
                
#     from sklearn.svm import SVR
#     regressor = SVR(kernel = 'linear')
#     regressor.fit(X_train, y_train)
#     r2=r2_prediction(regressor,X_test,y_test)
#     return  r2

In [ ]:
# accsvml=[]
# for i in kbest:
#     r2_sl=svm_linear(X_train,y_train,X_test)    
#     accsvml.append(r2_sl)

In [21]:
# def svm_NL(X_train,y_train,X_test):
                
#     from sklearn.svm import SVR
#     regressor = SVR(kernel = 'rbf')
#     regressor.fit(X_train, y_train)
#     r2=r2_prediction(regressor,X_test,y_test)
#     return  r2

In [ ]:
# accsvmnl=[]
# for i in kbest:
#     r2_NL=svm_NL(X_train,y_train,X_test)
#     accsvmnl.append(r2_NL)

In [20]:
def Decision(X_train,y_train,X_test):
        
    # Fitting K-NN to the Training setC
    from sklearn.tree import DecisionTreeRegressor
    regressor = DecisionTreeRegressor(random_state = 0)
    regressor.fit(X_train, y_train)
    r2=r2_prediction(regressor,X_test,y_test)
    return  r2

In [21]:
accdes=[]
for i in kbest:
    r2_d=Decision(X_train,y_train,X_test)
    accdes.append(r2_d)

In [44]:
# def random(X_train,y_train,X_test):       
#     # Fitting K-NN to the Training set
#     from sklearn.ensemble import RandomForestRegressor
#     regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
#     regressor = regressor.fit(X_train, y_train)
#     y_pred = regressor.predict(X_test)
#     r2 = r2_score(y_test,y_pred)
#     return  r2

In [ ]:
# accrf=[]
# for i in kbest:
#     r2_r=random(X_train,y_train,X_test)
#     accrf.append(r2_r)

In [22]:
def selectk_regression(acclin,accdes): 
    
    dataframe=pd.DataFrame(index=['ChiSquare'],columns=['Linear','Decision'])
    
    for number,index in enumerate(dataframe.index):
        dataframe['Linear'][index]=acclin[number]
        dataframe['Decision'][index]=accdes[number]       
        
    return dataframe

In [23]:
result=selectk_regression(acclin,accdes)

In [24]:
# n=3
result

             Linear  Decision
ChiSquare  0.762573  0.611003

In [35]:
#n= 4
result

             Linear  Decision
ChiSquare  0.762487  0.644178

In [24]:
#n=5
result

             Linear  Decision
ChiSquare  0.778886  0.645968